<a href="https://colab.research.google.com/github/axios-shosan/hAIk/blob/main/9az0ula_jumia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/jumia-purchase-prediction/sample_submission.csv
/kaggle/input/jumia-purchase-prediction/jum_test.csv
/kaggle/input/jumia-purchase-prediction/jum_train.csv

In [ ]:
import pandas as pd

# Load the dataset into a DataFrame
df = pd.read_csv('/kaggle/input/jumia-purchase-prediction/jum_train.csv')
test = pd.read_csv('/kaggle/input/jumia-purchase-prediction/jum_test.csv')

df = df.drop_duplicates()
df = df.dropna()
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4479 entries, 0 to 4478
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cust_id                4479 non-null   int64
 1   id_purchase            4479 non-null   object
 2   CAT I                  4479 non-null   object
 3   CAT II                 4479 non-null   object
 4   revenue ( $ Algérien)  4479 non-null   float64
 5   city                   4479 non-null   object
 6   platform               4479 non-null   object
 7   gender                 4479 non-null   object
 8   Order date             4479 non-null   object
 9   month                  4479 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 384.9+ KB

In [ ]:
import pandas as pd



# convert numerical column to categorical type
df['month'] = pd.Categorical(df['month'])

# perform one-hot encoding
one_hot = pd.get_dummies(df['month'], prefix='month')

# merge one-hot encoded data with original dataframe
df = pd.concat([df, one_hot], axis=1)


# convert numerical column to categorical type
test['month'] = pd.Categorical(test['month'])

# perform one-hot encoding
one_hot = pd.get_dummies(test['month'], prefix='month')

# merge one-hot encoded data with original dataframe
test = pd.concat([test, one_hot], axis=1)

In [ ]:
df.head()

,Cust_id,id_purchase,CAT I,CAT II,revenue ( $ Algérien),city,platform,gender,Order date,month,month_1,month_7,month_8,month_9,month_10,month_11,month_12
0,153926,5774DZ8526,Accessoire femmes,Sacs,55251.0,A,Web,male,2022-07-19,7,0,1,0,0,0,0,0
1,153929,4224DZ8573,Accessoire femmes,Lunettes de soleil,444479.0,A,Web,male,2022-07-19,7,0,1,0,0,0,0,0
2,153935,7178DZ8657,Accessoire femmes,Lunettes de soleil,242911.0,A,Web,female,2022-07-19,7,0,1,0,0,0,0,0
3,153935,3598DZ8583,Accessoire femmes,Lunettes de soleil,267374.0,A,Web,female,2022-07-20,7,0,1,0,0,0,0,0
4,153950,5142DZ8612,Accessoire femmes,Sacs,102590.0,A,Web,female,2022-07-19,7,0,1,0,0,0,0,0

In [ ]:
test.head()

,Cust_id,id_purchase,CAT I,CAT II,revenue ( $ Algérien),city,platform,gender,Order date,month,month_7,month_8,month_9
0,153925,9137DZ8685,Accessoire femmes,Lunettes de soleil,181672.0,A,Web,male,2022-07-19,7,1,0,0
1,153925,3290DZ8514,Accessoire femmes,Lunettes de soleil,482394.0,A,Web,male,2022-07-19,7,1,0,0
2,15403,5431DZ8470,Accessoire femmes,Lunettes de soleil,116073.0,A,Web,male,2022-07-20,7,1,0,0
3,15403,6262DZ8700,Accessoire femmes,Lunettes de soleil,183709.0,A,Web,male,2022-07-20,7,1,0,0
4,15403,8904DZ8715,Accessoire femmes,Lunettes de soleil,273851.0,A,Web,male,2022-07-21,7,1,0,0

In [ ]:
df=df.drop('month',axis=1)
df=df.drop('id_purchase',axis=1)
df=df.drop('Order date',axis=1)
df=df.drop('platform',axis=1)


test=test.drop('month',axis=1)
test=test.drop('id_purchase',axis=1)
test=test.drop('Order date',axis=1)
test=test.drop('platform',axis=1)

In [ ]:
df.head()

,Cust_id,CAT I,CAT II,revenue ( $ Algérien),city,gender,month_1,month_7,month_8,month_9,month_10,month_11,month_12
0,153926,Accessoire femmes,Sacs,55251.0,A,male,0,1,0,0,0,0,0
1,153929,Accessoire femmes,Lunettes de soleil,444479.0,A,male,0,1,0,0,0,0,0
2,153935,Accessoire femmes,Lunettes de soleil,242911.0,A,female,0,1,0,0,0,0,0
3,153935,Accessoire femmes,Lunettes de soleil,267374.0,A,female,0,1,0,0,0,0,0
4,153950,Accessoire femmes,Sacs,102590.0,A,female,0,1,0,0,0,0,0

In [ ]:
test.head()

,Cust_id,CAT I,CAT II,revenue ( $ Algérien),city,gender,month_7,month_8,month_9
0,153925,Accessoire femmes,Lunettes de soleil,181672.0,A,male,1,0,0
1,153925,Accessoire femmes,Lunettes de soleil,482394.0,A,male,1,0,0
2,15403,Accessoire femmes,Lunettes de soleil,116073.0,A,male,1,0,0
3,15403,Accessoire femmes,Lunettes de soleil,183709.0,A,male,1,0,0
4,15403,Accessoire femmes,Lunettes de soleil,273851.0,A,male,1,0,0

In [ ]:
features= ['Cust_id','CAT I','city','gender']

In [ ]:
grouped_df = df.groupby(['Cust_id','CAT II']).sum()

In [ ]:
ungrouped_df = grouped_df.reset_index()

In [ ]:
result_df = pd.merge(df[features].drop_duplicates(), ungrouped_df, on='Cust_id')
result_df.head()

,Cust_id,CAT I,city,gender,CAT II,revenue ( $ Algérien),month_1,month_7,month_8,month_9,month_10,month_11,month_12
0,153926,Accessoire femmes,A,male,Sacs,55251.0,0,1,0,0,0,0,0
1,153929,Accessoire femmes,A,male,Lunettes de soleil,2507330.0,0,4,0,1,0,3,0
2,153935,Accessoire femmes,A,female,Lunettes de soleil,510285.0,0,2,0,0,0,0,0
3,153950,Accessoire femmes,A,female,Sacs,169893.0,0,2,0,0,0,0,0
4,153967,Accessoire femmes,A,male,Sacs,6203.0,0,1,0,0,0,0,0

In [ ]:
# Create the binary label
result_df['label'] = (result_df['month_10']+result_df['month_11']+result_df['month_12']+result_df['month_1'])
result_df.head()

,Cust_id,CAT I,city,gender,CAT II,revenue ( $ Algérien),month_1,month_7,month_8,month_9,month_10,month_11,month_12,label
0,153926,Accessoire femmes,A,male,Sacs,55251.0,0,1,0,0,0,0,0,0
1,153929,Accessoire femmes,A,male,Lunettes de soleil,2507330.0,0,4,0,1,0,3,0,3
2,153935,Accessoire femmes,A,female,Lunettes de soleil,510285.0,0,2,0,0,0,0,0,0
3,153950,Accessoire femmes,A,female,Sacs,169893.0,0,2,0,0,0,0,0,0
4,153967,Accessoire femmes,A,male,Sacs,6203.0,0,1,0,0,0,0,0,0

In [ ]:
result_df = result_df.drop('month_1',axis=1)
result_df = result_df.drop('month_10',axis=1)
result_df = result_df.drop('month_11',axis=1)
result_df = result_df.drop('month_12',axis=1)

In [ ]:
result_df.head()

,Cust_id,CAT I,city,gender,CAT II,revenue ( $ Algérien),month_7,month_8,month_9,label
0,153926,Accessoire femmes,A,male,Sacs,55251.0,1,0,0,0
1,153929,Accessoire femmes,A,male,Lunettes de soleil,2507330.0,4,0,1,3
2,153935,Accessoire femmes,A,female,Lunettes de soleil,510285.0,2,0,0,0
3,153950,Accessoire femmes,A,female,Sacs,169893.0,2,0,0,0
4,153967,Accessoire femmes,A,male,Sacs,6203.0,1,0,0,0

In [ ]:
Cust_id = test['Cust_id']
Cat2 = test['CAT II']
test = test.drop('Cust_id',axis=1)
test.head()

,CAT I,CAT II,revenue ( $ Algérien),city,gender,month_7,month_8,month_9
0,Accessoire femmes,Lunettes de soleil,181672.0,A,male,1,0,0
1,Accessoire femmes,Lunettes de soleil,482394.0,A,male,1,0,0
2,Accessoire femmes,Lunettes de soleil,116073.0,A,male,1,0,0
3,Accessoire femmes,Lunettes de soleil,183709.0,A,male,1,0,0
4,Accessoire femmes,Lunettes de soleil,273851.0,A,male,1,0,0

In [ ]:
test = pd.DataFrame({'CAT I':test['CAT I'].values,'city':test['city'].values,'gender':test['gender'].values,
                   'CAT II':test['CAT II'].values , 'revenue ( $ Algérien)':test['revenue ( $ Algérien)'].values,
                    'month_7':test['month_7'].values,'month_8':test['month_8'].values,'month_9':test['month_9'].values})
test.head()

,CAT I,city,gender,CAT II,revenue ( $ Algérien),month_7,month_8,month_9
0,Accessoire femmes,A,male,Lunettes de soleil,181672.0,1,0,0
1,Accessoire femmes,A,male,Lunettes de soleil,482394.0,1,0,0
2,Accessoire femmes,A,male,Lunettes de soleil,116073.0,1,0,0
3,Accessoire femmes,A,male,Lunettes de soleil,183709.0,1,0,0
4,Accessoire femmes,A,male,Lunettes de soleil,273851.0,1,0,0

In [ ]:
y = result_df['label']
train_data = result_df.drop('label',axis=1)
test_data=test

In [ ]:
train_data.head()

,Cust_id,CAT I,city,gender,CAT II,revenue ( $ Algérien),month_7,month_8,month_9
0,153926,Accessoire femmes,A,male,Sacs,55251.0,1,0,0
1,153929,Accessoire femmes,A,male,Lunettes de soleil,2507330.0,4,0,1
2,153935,Accessoire femmes,A,female,Lunettes de soleil,510285.0,2,0,0
3,153950,Accessoire femmes,A,female,Sacs,169893.0,2,0,0
4,153967,Accessoire femmes,A,male,Sacs,6203.0,1,0,0

In [ ]:
test_data.head()

,CAT I,city,gender,CAT II,revenue ( $ Algérien),month_7,month_8,month_9
0,Accessoire femmes,A,male,Lunettes de soleil,181672.0,1,0,0
1,Accessoire femmes,A,male,Lunettes de soleil,482394.0,1,0,0
2,Accessoire femmes,A,male,Lunettes de soleil,116073.0,1,0,0
3,Accessoire femmes,A,male,Lunettes de soleil,183709.0,1,0,0
4,Accessoire femmes,A,male,Lunettes de soleil,273851.0,1,0,0

In [ ]:
for i in range(len(y)):
    if y[i] != 0 :
        y[i] = 1

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
y.unique()

array([0, 1], dtype=uint8)

In [ ]:
"""from sklearn.preprocessing import LabelEncoder
train_data = train_data.drop('Cust_id',axis=1)
label_encoder=LabelEncoder()
train_data['CAT I']=label_encoder.fit_transform(train_data['CAT I'])
train_data['CAT II']=label_encoder.fit_transform(train_data['CAT II'])
train_data['city']=label_encoder.fit_transform(train_data['city'])
train_data['gender']=label_encoder.fit_transform(train_data['gender'])


test_data['CAT I']=label_encoder.fit_transform(test_data['CAT I'])
test_data['CAT II']=label_encoder.fit_transform(test_data['CAT II'])
test_data['city']=label_encoder.fit_transform(test_data['city'])
test_data['gender']=label_encoder.fit_transform(test_data['gender'])
"""

"from sklearn.preprocessing import LabelEncoder\ntrain_data = train_data.drop('Cust_id',axis=1)\nlabel_encoder=LabelEncoder()\ntrain_data['CAT I']=label_encoder.fit_transform(train_data['CAT I'])\ntrain_data['CAT II']=label_encoder.fit_transform(train_data['CAT II'])\ntrain_data['city']=label_encoder.fit_transform(train_data['city'])\ntrain_data['gender']=label_encoder.fit_transform(train_data['gender'])\n\n\ntest_data['CAT I']=label_encoder.fit_transform(test_data['CAT I'])\ntest_data['CAT II']=label_encoder.fit_transform(test_data['CAT II'])\ntest_data['city']=label_encoder.fit_transform(test_data['city'])\ntest_data['gender']=label_encoder.fit_transform(test_data['gender'])\n"

In [ ]:
train_data = train_data.drop('Cust_id',axis=1)

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Select the categorical columns that you want to encode
cat_cols = ['CAT I', 'CAT II', 'city','gender']

# Use the OneHotEncoder from scikit-learn to encode the categorical columns
encoder = OneHotEncoder(sparse=False)

encoded_train = encoder.fit_transform(train_data[cat_cols])
encoded_test = encoder.transform(test_data[cat_cols])

# Convert the encoded data into a DataFrame with column names
encoded_df_train = pd.DataFrame(encoded_train, columns=encoder.get_feature_names(cat_cols))
encoded_df_test = pd.DataFrame(encoded_test, columns=encoder.get_feature_names(cat_cols))

# Concatenate the encoded DataFrame with the original DataFrame
train_data = pd.concat([train_data.drop(cat_cols, axis=1), encoded_df_train], axis=1)
test_data = pd.concat([test_data.drop(cat_cols, axis=1), encoded_df_test], axis=1)

/opt/conda/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
train_data.head()

,revenue ( $ Algérien),month_7,month_8,month_9,CAT I_Accessoire femmes,CAT I_Accessoires hommes,CAT I_Accessoires pour femmes,CAT I_Accessoires unisexes,CAT I_Appareils ménagers,CAT I_Appareils photo et accessoires,...,CAT II_Thé et café,CAT II_Univers du Cigare,CAT II_Vêtements de cérémonie,CAT II_Vêtements de nuit,CAT II_iPod et lecteurs MP3,city_A,city_B,city_C,gender_female,gender_male
0,55251.0,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,2507330.0,4,0,1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,510285.0,2,0,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,169893.0,2,0,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,6203.0,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [ ]:
test_data.head()
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4479 entries, 0 to 4478
Data columns (total 87 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   revenue ( $ Algérien)                            4479 non-null   float64
 1   month_7                                          4479 non-null   uint8
 2   month_8                                          4479 non-null   uint8
 3   month_9                                          4479 non-null   uint8
 4   CAT I_Accessoire femmes                          4479 non-null   float64
 5   CAT I_Accessoires hommes                         4479 non-null   float64
 6   CAT I_Accessoires pour femmes                    4479 non-null   float64
 7   CAT I_Accessoires unisexes                       4479 non-null   float64
 8   CAT I_Appareils ménagers                         4479 non-null   float64
 9   CAT I_Appareils photo et accessoires             4479 non-null   float64
 10  CAT I_Automobile et motocycles                   4479 non-null   float64
 11  CAT I_Beauté et parfums                          4479 non-null   float64
 12  CAT I_Boissons                                   4479 non-null   float64
 13  CAT I_Chaussures pour femmes                     4479 non-null   float64
 14  CAT I_Chaussures pour hommes                     4479 non-null   float64
 15  CAT I_Enfants et bébés                           4479 non-null   float64
 16  CAT I_Filles                                     4479 non-null   float64
 17  CAT I_Garçons                                    4479 non-null   float64
 18  CAT I_Informatique                               4479 non-null   float64
 19  CAT I_Instruments de musique                     4479 non-null   float64
 20  CAT I_Jeux et consoles                           4479 non-null   float64
 21  CAT I_Lessive                                    4479 non-null   float64
 22  CAT I_Livres et papeterie                        4479 non-null   float64
 23  CAT I_Maison                                     4479 non-null   float64
 24  CAT I_Mariages                                   4479 non-null   float64
 25  CAT I_Mode                                       4479 non-null   float64
 26  CAT I_Placards alimentaires                      4479 non-null   float64
 27  CAT I_Soins de la maison                         4479 non-null   float64
 28  CAT I_Sport & Fitness                            4479 non-null   float64
 29  CAT I_Tabac                                      4479 non-null   float64
 30  CAT I_Tablettes et accessoires                   4479 non-null   float64
 31  CAT I_Téléphones                                 4479 non-null   float64
 32  CAT I_Téléviseurs, audio et vidéo                4479 non-null   float64
 33  CAT I_Vêtements pour femmes                      4479 non-null   float64
 34  CAT I_Vêtements pour hommes                      4479 non-null   float64
 35  CAT II_Accessoires                               4479 non-null   float64
 36  CAT II_Autre                                     4479 non-null   float64
 37  CAT II_Autres appareils photo et accessoires     4479 non-null   float64
 38  CAT II_Bagages et accessoires de voyage          4479 non-null   float64
 39  CAT II_Baskets                                   4479 non-null   float64
 40  CAT II_Bottes                                    4479 non-null   float64
 41  CAT II_Bébé                                      4479 non-null   float64
 42  CAT II_Carrosserie                               4479 non-null   float64
 43  CAT II_Chaussettes                               4479 non-null   float64
 44  CAT II_Chaussures                                4479 non-null   float64
 45  CAT II_Chaussures de sport                       4479 non-null   float64
 46  CAT II_Combinaison                               4479 non-null   float64
 47  CAT II_Consoles                                  4479 non-null   float64
 48  CAT II_Costumes et accessoires                   4479 non-null   float64
 49  CAT II_Couche                                    4479 non-null   float64
 50  CAT II_Cuisine                                   4479 non-null   float64
 51  CAT II_Cuisine et pâtisserie                     4479 non-null   float64
 52  CAT II_Détergent en poudre                       4479 non-null   float64
 53  CAT II_Fitness                                   4479 non-null   float64
 54  CAT II_Fournitures                               4479 non-null   float64
 55  CAT II_Grils et cuisine en plein air             4479 non-null   float64
 56  CAT II_Jeans et jeggings                         4479 non-null   float64
 57  CAT II_Jeux rétro                                4479 non-null   float64
 58  CAT II_Lait                                      4479 non-null   float64
 59  CAT II_Laptop                                    4479 non-null   float64
 60  CAT II_Livres en langues étrangères              4479 non-null   float64
 61  CAT II_Lunettes                                  4479 non-null   float64
 62  CAT II_Lunettes de soleil                        4479 non-null   float64
 63  CAT II_Meubles                                   4479 non-null   float64
 64  CAT II_Motos                                     4479 non-null   float64
 65  CAT II_Outils de nettoyage                       4479 non-null   float64
 66  CAT II_Pain et boulangerie                       4479 non-null   float64
 67  CAT II_Papier et plastique                       4479 non-null   float64
 68  CAT II_Polos                                     4479 non-null   float64
 69  CAT II_Projecteurs                               4479 non-null   float64
 70  CAT II_Robes                                     4479 non-null   float64
 71  CAT II_Réfrigérateurs et congélateurs            4479 non-null   float64
 72  CAT II_Sacs                                      4479 non-null   float64
 73  CAT II_Shorts                                    4479 non-null   float64
 74  CAT II_Smartphone                                4479 non-null   float64
 75  CAT II_Soins des mains, des pieds et des ongles  4479 non-null   float64
 76  CAT II_Talons                                    4479 non-null   float64
 77  CAT II_Thé et café                               4479 non-null   float64
 78  CAT II_Univers du Cigare                         4479 non-null   float64
 79  CAT II_Vêtements de cérémonie                    4479 non-null   float64
 80  CAT II_Vêtements de nuit                         4479 non-null   float64
 81  CAT II_iPod et lecteurs MP3                      4479 non-null   float64
 82  city_A                                           4479 non-null   float64
 83  city_B                                           4479 non-null   float64
 84  city_C                                           4479 non-null   float64
 85  gender_female                                    4479 non-null   float64
 86  gender_male                                      4479 non-null   float64
dtypes: float64(84), uint8(3)
memory usage: 2.9 MB

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(train_data,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn import tree
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

# Train KNeighborsClassifier Model
KNN_Classifier = KNeighborsClassifier(n_jobs=-1)
KNN_Classifier.fit(X_train, Y_train); 

# Train LogisticRegression Model
LGR_Classifier = LogisticRegression(n_jobs=-1, random_state=0)
LGR_Classifier.fit(X_train, Y_train);

            
# Train Decision Tree Model
DTC_Classifier = tree.DecisionTreeClassifier(criterion='entropy', random_state=0)
DTC_Classifier.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [ ]:
from sklearn import metrics

models = []

models.append(('Decision Tree Classifier', DTC_Classifier))
models.append(('KNeighborsClassifier', KNN_Classifier))
models.append(('LogisticRegression', LGR_Classifier))

In [ ]:
for i, v in models:
    accuracy = metrics.accuracy_score(Y_test, v.predict(X_test))
    confusion_matrix = metrics.confusion_matrix(Y_test, v.predict(X_test))
    classification = metrics.classification_report(Y_test, v.predict(X_test))
    print()
    print('============================== {} Model Test Results =============================='.format(i))
    print()
    print ("Model Accuracy:" "\n", accuracy)
    print()
    print("Confusion matrix:" "\n", confusion_matrix)
    print()
    print("Classification report:" "\n", classification) 
    print()

============================== Decision Tree Classifier Model Test Results ==============================

Model Accuracy:
 0.8326605504587156

Confusion matrix:
 [[1395  250]
 [ 206  874]]

Classification report:
               precision    recall  f1-score   support

           0       0.87      0.85      0.86      1645
           1       0.78      0.81      0.79      1080

    accuracy                           0.83      2725
   macro avg       0.82      0.83      0.83      2725
weighted avg       0.83      0.83      0.83      2725



============================== KNeighborsClassifier Model Test Results ==============================

Model Accuracy:
 0.7262385321100917

Confusion matrix:
 [[1321  324]
 [ 422  658]]

Classification report:
               precision    recall  f1-score   support

           0       0.76      0.80      0.78      1645
           1       0.67      0.61      0.64      1080

    accuracy                           0.73      2725
   macro avg       0.71      0.71      0.71      2725
weighted avg       0.72      0.73      0.72      2725



============================== LogisticRegression Model Test Results ==============================

Model Accuracy:
 0.3963302752293578

Confusion matrix:
 [[   0 1645]
 [   0 1080]]

Classification report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00      1645
           1       0.40      1.00      0.57      1080

    accuracy                           0.40      2725
   macro avg       0.20      0.50      0.28      2725
weighted avg       0.16      0.40      0.22      2725

/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, Y_train)
accuracy = metrics.accuracy_score(Y_test, rf_clf.predict(X_test))
confusion_matrix = metrics.confusion_matrix(Y_test, rf_clf.predict(X_test))
classification = metrics.classification_report(Y_test, rf_clf.predict(X_test))
print()
print ("Model Accuracy:" "\n", accuracy)
print()
print("Confusion matrix:" "\n", confusion_matrix)
print()
print("Classification report:" "\n", classification) 
print()

Model Accuracy:
 0.8315596330275229

Confusion matrix:
 [[1405  240]
 [ 219  861]]

Classification report:
               precision    recall  f1-score   support

           0       0.87      0.85      0.86      1645
           1       0.78      0.80      0.79      1080

    accuracy                           0.83      2725
   macro avg       0.82      0.83      0.82      2725
weighted avg       0.83      0.83      0.83      2725

In [ ]:
from sklearn.svm import SVC

svm_clf = SVC(kernel='rbf', C=2, gamma='scale')
svm_clf.fit(X_train, Y_train)
accuracy = metrics.accuracy_score(Y_test, svm_clf.predict(X_test))
confusion_matrix = metrics.confusion_matrix(Y_test, svm_clf.predict(X_test))
classification = metrics.classification_report(Y_test, svm_clf.predict(X_test))
print()
print ("Model Accuracy:" "\n", accuracy)
print()
print("Confusion matrix:" "\n", confusion_matrix)
print()
print("Classification report:" "\n", classification) 
print()

Model Accuracy:
 0.7453211009174312

Confusion matrix:
 [[1450  195]
 [ 499  581]]

Classification report:
               precision    recall  f1-score   support

           0       0.74      0.88      0.81      1645
           1       0.75      0.54      0.63      1080

    accuracy                           0.75      2725
   macro avg       0.75      0.71      0.72      2725
weighted avg       0.75      0.75      0.74      2725

In [ ]:
test_data= test_data.fillna(test.median())
pred =rf_clf.predict(test_data)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
rop = pd.DataFrame(pred,columns = ['cat'],index=Cat2)
rop['cat'] = rop['cat'].replace({1:'buy', 0:'not buy'})
rop.to_csv('jumiacat_item.csv', index=True)

In [ ]:
rop['cat'].value_counts()

notbuy    3946
buy        533
Name: cat, dtype: int64